:root {
    --font-space: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: var(--font-space);
    font-size: 20px;
}

body {
    background-color: #257cffa5;
}

main > section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 12px;
    border: 5px solid #181818;
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result {
    background-color: #32bb32;
    border-radius: 7px;
    width: 300px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    margin: 10px 0;
    overflow-x: scroll;
}

.btns {
    display: flex;
    width: calc(85px * 4);
    flex-wrap: wrap;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 7px;
    border: 2.5px solid #464646;
    margin: 2.5px;
    background-color: #f4f4f4;
    transition: all 0.1s ease-in-out;
}

button:hover {
    filter: opacity(70%);
}

.btn-special {
    border: 2.5px solid #580000;
    background-color: #ff5b5b;
}

.material-symbols-outlined {
    color: #161616;
    font-size: 32px !important;
    cursor: pointer;
    width: fit-content;
    transition: all 0.15s ease-in-out;
}

.material-symbols-outlined:hover {
    color: #424242;
}

.history {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.interact {
    cursor: pointer;
}
