:root {
    --font-space: "Space Grotesk", sans-serif;
    --font-tilt: "Tilt Warp", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-space);
}

main, .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

h1 {
    font-family: var(--font-tilt);
}

input {
    width: 250px;
    margin: 5px;
}

section {
    margin: 5px;
}

.tasks {
    background-color: #171717;
    width: 93.5vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
}

.tasks article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 45vw;
    flex-grow: 1;
    flex-basis: 1;
    gap: 25px;
    background-color: #494949;
    color: #ebebeb;
    min-width: 350px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

button {
    border-radius: 7px;
    border: none;
    width: 75px;
}

.add {
    background-color: #2cd82c;
    height: 35px;
}

.delete {
    background-color: #d00606;
    color: #ececec;
    width: 90px;
    height: 30px;
}
